.FormField.Radio ul:after
{
	display: block;
	clear: both;
	content: ""
}
.FormList
{
	width: 100%;
}
.FormListItem
{
	width: 100%;
	padding: 0 0 1em 0;
	margin: 0 0 1em 0;
	border-bottom: solid 1px #ccc;
}
.FormList h3
{
	padding: 0 0 0.5em 0;
}
.FormList ul
{
	list-style-type: none;
	padding: 0;
	margin: 0;
}
.FormList ul li:after
{
	display: block;
	clear: both;
	content: ""
}
.FormList ul li
{
	width: 100%;
	position: relative;
	background: none;
	padding: 0 0 0.6em 0;
}
.FormList .FormLabel
{
	width: 20%;
	float: left;
	padding: 0.2em 1em 0 0;
}
.FormList .FormField
{
	width: 55%;
	float: left;
	position: relative;
}

.FormList .FormField input,
.FormList .FormField textarea
{
	width: 98.5%;
	/*overflow: auto;*/
}
.FormList .FormField a
{
	font-size: 0.8em;
	margin: 0 0.5em 0 0;
}
.FormList .FormField label
{
	font-size: 0.8em;
}
.FormList .FormField select
{
	width: 99.5%;
}
.FormList .FormError
{
	width: 100%;
	//font-size: 0;
	clear: both;
}
.FormList .FormError span
{
	width: 100%;
	display: block;
	font-size: 0.8em;
	color: Red;
	padding: 0.3em 0 0 22%;
	//font-size: 14px;
}
.FormList .errorlist
{
	display: block;
	font-size: 0.8em;
	color: Red;
	padding: 0.3em 0 0 22%;
	//font-size: 14px;
	clear: both;
}
.FormList .errorlist li
{
	padding: 0;
}
.FormListInner
{
	background: #eee;
	padding: 15px 0 0 0;
}
.FormField.Radio
{

}
.FormField.Radio label
{
	font-size: 1.2em;
	position: relative;
}
.FormField.Radio input
{
	width: auto !important;
	position: relative;
	top: 0.1em;
}
.FormField.Radio ul
{
	width: 100%;
	padding: 0 !important;
}
.FormField.Radio li
{
	width: auto !important;
	float: left;
	padding: 0 5% 0 0;
}
.FormCheckbox input
{
	width: auto !important;
}
.FormButtons
{
	padding: 0 0 0 20%;
}
.FormSend
{
	width: 100%;
}
.messages
{
	/*border: solid 1px red;*/
}

/* Captcha */
.CaptchaBlock
{
	width: 100%;
	position: relative;
	display: inline-block;
	border: solid 1px red;
}
.CaptchaBlock .Captcha:after
{
	display: block;
	clear: both;
	content: ""
}
.CaptchaBlock .Captcha
{
	width: 100px;
	float: left;
	text-align: center;
}
.CaptchaBlock .Captcha img
{
	clear: both;
	vertical-align: bottom;
}
.CaptchaBlock .Captcha a
{
	display: block;
	color: #009edd;
	font-size: 0.7em;
}
.CaptchaBlock .Captcha a:hover
{
	color: #ec860a;	
}
.CaptchaBlock .CaptchaInput
{
	width: 50px;
	float: left;
	display: inline-block;
	position: relative;
	padding: 12px 0 0 5%;
}

/* Pager */
.Pager
{
	width: 100%;
	margin: 20px 0 0 0;
	text-align: center;
}
.Pager a
{
	color: #1985a5;
}
.Pager a:hover
{
	color: #f56436;
}
.Pager .PagerTitle
{
	font-size: 0.9em;
	font-weight: bold;
	color: #777;
	margin: 0 1em 0 0;
}
.Pager .PagerControl
{
	font-size: 0.8em;
	position: relative;
	top: -0.15em;
}
.PagerControlMargin
{
	width: 1em;
	display: inline-block;
}
.Pager .PagerControl .PagerArrow
{
	font-size: 1.4em;
	text-decoration: none;
	position: relative;
	top: 0.1em;
	color: #999;
}
.Pager .PageNumber
{
	display: inline-block;
	margin: 0.3em 0.1em 0 0;
}
.Pager .PageNumber a
{
	display: inline-block;
	padding: 0.3em 0.5em;
	font-size: 0.9em;
}
.Pager .PageNumber a:hover
{
	background: #e68006;
	color: #fff !important;
}
.Pager .PageNumber a.Active
{
	background: #e68006;
	text-decoration: none;
	color: #fff;
}
.Pager .PagerFirstPage
{
	padding: 0 1em 0 0;
	font-size: 0.8em;
}
.Pager .PagerLastPage
{
	padding: 0 0 0 0;
	font-size: 0.8em;
}


a:active,
a:focus,
input
{
	outline: none;
}


/* Popup */
.HideBlock
{
	width: 100%;
	height: 100%;
	min-height: 100%;
	min-width: 985px;
	background: url(../Images/BackGrounds/TransparentBg.png);
	position: fixed;
	z-index: 100;
	left: 0;
}
* html .HideBlock
{
	width: expression((document.documentElement.clientWidth || document.body.clientWidth) < 985? "985px": "100%");
	height: expression(document.documentElement.clientHeight + 'px');
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src=/media/img/TransparentBg.png,sizingMethod=scale);
	top: expression( ( topVar = document.documentElement.scrollTop ? document.documentElement.scrollTop : document.body.scrollTop )  + 'px' );
	background-image: none;
	position: absolute;
	cursor: default;
}
.PopupWindow
{
	width: 100%;
	height: 100%;
	min-height: 100%;
	position: fixed;
	display: table;
	z-index: 200;
}
* html .PopupWindow
{
	width: expression((document.documentElement.clientWidth || document.body.clientWidth) < 985? "985px" : "100%" );
	height: expression(eval(document.documentElement.offsetHeight) + "px" );
	top: expression(eval(document.documentElement.scrollTop) + "px" );
	position: absolute;
}

.PopupWindowInner
{
	width: 100%;
	min-height: 100%;
	position: relative;
	display: table-cell;
	vertical-align: middle;
	//top: 50%;
}
.PopupWindowTR
{
	width: 100%;
	position: relative;
	//top: -50%;
}
.PopupWindowClose
{
	display: block;
	position: absolute;
	top: 10px;
	right: 3%;
	font-size: 0.8em;
	border-bottom: dashed 1px #009EDD;
	color: #009EDD;
	cursor: pointer;
}
.PopupWindowClose:hover
{
	border-bottom: dashed 1px #ec860a !important;
	color: #ec860a !important;
}
.Popup
{
	width: 500px;
	margin: 0 auto;
	background: #fff;
	border: solid 1px #ccc;
	position: relative;
	padding: 20px;
}
.Popup h1
{
	font-size: 1.4em;
	font-weight: normal;
	color: #007dc5;
	padding: 0.5em 0 0.3em 0;
}
.Popup ul li
{
	font-size: 0.8em;
}