.RotatorWrapper
{
	min-height: 40px;
	margin: 0 auto;
	position: relative;
	overflow: hidden;
	text-align: center;
	background: #293135;
}
	.RotatorPrevLink,
	.RotatorNextLink
	{
		width: 85px;
		height: 80%;
		display: block;
		position: absolute;
		top: 10%;
		z-index: 5;
		text-decoration: none;
	}
	.RotatorPrevLink
	{
		left: 0;
	}
		.RotatorPrevLink span
		{
			width: 65px;
			height: 96px;
			margin: -48px auto 0 auto;
			display: block;
			position: relative;
			top: 50%;
			background: url(../img/arrow_left.png) no-repeat;
			cursor: pointer;
		}
		.RotatorPrevLink:hover span
		{
			/* background: url(../img/arrow_left2_hover.png) no-repeat; */
		}
	.RotatorNextLink
	{
		right: 0;
	}
		.RotatorNextLink span
		{
			width: 65px;
			height: 96px;
			margin: -48px auto 0 auto;
			display: block;
			position: relative;
			top: 50%;
			background: url(../img/arrow_right.png) no-repeat;
			cursor: pointer;
		}
		.RotatorNextLink:hover span
		{
			/* background: url(../img/arrow_right2_hover.png) no-repeat; */
		}
	.Rotator
	{
		width: 100%;
		height: 100%;
		position: relative;
		overflow:auto;
		white-space: nowrap;
		letter-spacing: -0.3em;
	}
		.RotatorContainer
		{
			max-width: 32766px;
			max-height: 500px;
			position: relative;
			overflow: hidden;
			text-align: left;
		}
			.RotatorItem
			{
				display: inline-block;
				//zoom:1;
				max-height: 500px;
				position: relative;
				overflow: hidden;
				text-align: center;
			}
				.RotatorItem img
				{
					max-width: 100%;
					vertical-align: top;
				}
				.RotatorItem .Overlay
				{
					width: 100%;
					height: 100%;
					position: absolute;
					top: 0;
					left: 0;
				}
	.RotatorPaging a
	{
		padding: 0 10px;
		color: white;
		font-family: Impact,sans-serif;
		font-size: 16px;
		text-decoration: none;
	}
	.RotatorPaging .Active
	{
		color: #FF6633;
		text-decoration: none;
	}